<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kuznetsov Ilya</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='/assets/img/man32.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='/assets/img/man128.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/venobox/venobox.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='/assets/css/stylish.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1><a href="#">Kuznetsov Ilya</a></h1>
      <h2>I'm a perfectionist <span>Software Engineering student</span> from St. Petersburg</h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->

      <div class="social-links">
        <a href="https://github.com/kznts9v-1lya" class="github"><i class="ri-github-fill"></i></a>
        <a href="https://vk.com/kznts9v_1lya" class="vk"><i class="icofont-vk"></i></a>
        <a href="https://t.me/kznts9v_1lya" class="telegram"><i class="icofont-telegram"></i></a>
        <a href="https://www.instagram.com/kznts9v_1lya/" class="instagram"><i class="icofont-instagram"></i></a>
      </div>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{ url_for('static', filename='/assets/img/me.jpg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Bachelor student & Software Engineer</h3>
          <p class="font-italic">
            I started entering in computer science in 2017 and therefore decided to link my career with IT. This prompted me to start studying software engineering at St. Petersburg State University in 2019.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 20</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Saint Petersburg, Russia</li>
                <li><i class="icofont-rounded-right"></i> <strong>Education:</strong> Software Engineering, SPbSU</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor student</li>
              </ul>
            </div>
          </div>
          <p>
            During my education, I liked the C# programming language and the .NET platform in general, and also product management. That is why I strive every day to become a professional developer or product manager.
          </p>
        </div>
      </div>

    </div>
    <!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-md-6 mt-5">
          <div class="count-box">
            <i class="icofont-presentation"></i>
            <span data-toggle="counter-up">3</span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-md-6 mt-5">
          <div class="count-box">
            <i class="icofont-code"></i>
            <span data-toggle="counter-up">6</span>
            <p>Programming languages</p>
          </div>
        </div>

        <!--
        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">232</span>
            <p>Computer science & mathematics courses successfully learned</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span data-toggle="counter-up">1,463</span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
          </div>
        </div>
        -->

      </div>

    </div>
    <!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">C <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">C# <i class="val">83%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Ocaml <i class="val">66%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Kotlin / Java <i class="val">39%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HTML + CSS <i class="val">57%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Technology stack</h2>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-cpu-line" style="color: #39be13;"></i>
            <h3>Concurrency and asynchrony</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-hashtag" style="color: #d37210;"></i>
            <h3>MPI | OpenMP | Tasks</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-node-tree" style="color: #c9c843;"></i>
            <h3>Data structures and algorithms</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-mind-map" style="color: #3e97e7;"></i>
            <h3>Automata theory</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-hashtag" style="color: #87309d;"></i>
            <h3>LINQ | WCF | WPF | WinForms</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-flask-line" style="color: #2dbdd4;"></i>
            <i class="ri-database-2-fill" style="color: #d31e03;"></i>
            <h3>Flask | SQLAlchemy</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-html5-line" style="color: #cf3515;"></i>
            <i class="ri-css3-line" style="color: #056fc6;"></i>
            <h3>HTML | CSS</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-github-fill" style="color: #fdfdfe;"></i>
            <h3>VCS</h3>
          </div>
        </div>

        <!--
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3>Flavor Nivelanda</h3>
          </div>
        </div>
        -->

      </div>
    </div>
    <!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          During the development of the course work, the student Kuznetsov Ilya Alexandrovich actively interacted with the supervisor, completed the assigned tasks in a timely manner, showed independence, immediately eliminated the identified comments on the work.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="{{ url_for('static', filename='/assets/img/testimonials/stanislav_sartasov.jpg') }}" class="testimonial-img" alt="">
        <h3>Stanislav Sartasov</h3>
        <h4>Assistant Professor & Team Lead</h4>
      </div>

      <!--
      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="{{ url_for('static', filename='/assets/img/testimonials/testimonials-2.jpg') }}" class="testimonial-img" alt="">
          <h3>Sara Wilsson</h3>
          <h4>Designer</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="{{ url_for('static', filename='/assets/img/testimonials/testimonials-3.jpg') }}" class="testimonial-img" alt="">
          <h3>Jena Karlis</h3>
          <h4>Store Owner</h4>
        </div>
      </div>
    -->

    </div>
    <!-- End Testimonials  -->

  </section>
  <!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <!--
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Kuznetsov Ilya</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            <p>
            <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul>
            </p>
          </div>
          -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item pb-0">
            <h4>Bachelor of Software Engineering</h4>
            <h5>2019 - 2023</h5>
            <p><em> Saint Petersburg State University, Faculty of Mathematics and Mechanics, Department of System Programming</em></p>
            <p>On this educational program, I get the necessary knowledge and practical experience in the areas of software requirements, design, development, testing and maintenance</p>
            <p>We learn how to develop a product from the conception of an idea to its use by the end user and its entry into the market</p>
          </div>
          <div class="resume-item">
            <h4>Secondary general education</h4>
            <h5>2008 - 2019</h5>
            <p><em>Gymnasium A.P. Chekhov, Taganrog</em></p>
            <p>Got good basic skills in biology and chemistry, as well as a specialized level in physics and mathematics</p>
            <p>Deeply studied the Russian language and won the 3rd rank All-Russian Olympiad in the Russian language, 2019</p>
            <p>Graduated from high school with a red certificate and two gold medals: "For special success in learning" and "For special success to the graduate of Don"</p>
          </div>

        </div>

        <div class="col-lg-6">

          <h3 class="resume-title">Knowledge Stack</h3>
          <div class="resume-item">
            <h4>Second course</h4>
            <h5>September, 2020 - July, 2021</h5>
            <p><em>Software Engineering</em></p>
            <p>
            <ul>
              <li>Studied multithreading from fibers to processes. This includes parallel data structures and algorithms, asynchrony and also MPI, Open MP, Tasks technologies. Implemented fiber scheduler as a project</li>
              <li>Gained knowledge of server applications, studied WCF technology and implemented a multi-threaded client-server application for image processing</li>
              <li>Completed a course on operating systems, working with task scheduler, virtual memory, multiprocessing, networking and security. As a practice, took part in the development of a training operating system</li>
              <Li>Completed an introduction to GNU / Linux</Li>
              <li>Studied functional programming, including specific data structures, approaches and algorithms. As a practice, a C# sublanguage AST, parser, REPL and interpreter with optimizations and OOP support was implemented on Ocaml</li>
              <li>Studied the introduction to Software Engineering with an extensive understanding of the history, development and main directions of this field</li>
              <li>Got solid knowledge in mathematical analysis, statistics and logic; computation and probability theory; differential and difference equations and data analysis in Python</li>
              <li>Acquainted with web development, including front-end in HTML and CSS and back-end in Python. Worked with Flask framework and SQLAlchemy databases. Implemented this page as a project :)</li>
              <li>Completed a product management course, generating and testing ideas; conducting market and audience research, competitors and analogues; developing the strategy, positioning and also the UI and UX concepts of the application, and finally its roadmap. As a group project on Agile methodology, an MVP of a unique application was created</li>
            </ul>
            </p>
          </div>

          <div class="resume-item">
            <h4>First course</h4>
            <h5>September, 2019 - July, 2020</h5>
            <p><em>Software Engineering</em></p>
            <p>
            <ul>
              <li>Studied basic courses in mathematical analysis, algebra, geometry and discrete mathematics</li>
              <li>Learned the basics of low- and mid-level programming in the C. Implemented memory allocator and filters for images as projects</li>
              <li>Got good basic skills in object-oriented programming in the C#, as well as various patterns and technologies WPF, WinForms and IoC-containers. Implemented P2P chat and graphical presentation of graphs as projects</li>
              <li>Learned to use VCS</li>
              <li>Studied data structures, types and algorithms in conjunction with computer architecture</li>
            </ul>
            </p>
          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Projects</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-plugin">Plugin</li>
            <li data-filter=".filter-interpreter">Interpreter</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-6 col-md-12 portfolio-item filter-plugin">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/navitas_framework.jpeg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Navitas Framework</h4>
              <p>Plugin for estimating the power consumption of Android devices</p>
              <div class="portfolio-links">
                <a href="{{ url_for('navitas_framework') }}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Navitas Framework"><i class="bx bx-info-circle"></i></a>
                <a href="https://github.com/Stanislav-Sartasov/Navitas-Framework"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/botanic_garden_assistant.jpeg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Botanic Garden Assistant</h4>
              <p>An app to help gardeners, taking into account geolocation and weather conditions</p>
              <div class="portfolio-links">
                <a href="{{ url_for('botanic_garden_assistant') }}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Botanic"><i class="bx bx-info-circle"></i></a>
                <a href="https://1drv.ms/p/s!AkT5RcI7LHSNsjz_SWWHGpzd0x4p?e=mF1cYR"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 portfolio-item filter-interpreter">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/csharpmini.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CSharpMini</h4>
              <p>Extensible implementation of AST, parser, REPL and interpreter with various code optimizations in OCaml for C# sublanguage with OOP support</p>
              <div class="portfolio-links">
                 <a href="{{ url_for('csharpmini') }}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="CSharpMini"><i class="bx bx-info-circle"></i></a>
                 <a href="https://github.com/kznts9v-1lya/CSharpMini/tree/master"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

       <!--
        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-2.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="#" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-3.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="#') }}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-4.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="#" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-5.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="#" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-6.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="#" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-7.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="#" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-8.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="#" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='/assets/img/portfolio/portfolio-9.jpg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="#" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>

    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-lg-6 col-md-12 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Universitetsky pr., 28, St. Petersburg, 198504</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://github.com/kznts9v-1lya" class="github"><i class="ri-github-fill"></i></a>
              <a href="https://vk.com/kznts9v_1lya" class="vk"><i class="icofont-vk"></i></a>
              <a href="https://t.me/kznts9v_1lya" class="telegram"><i class="icofont-telegram"></i></a>
              <a href="https://www.instagram.com/kznts9v_1lya/" class="instagram"><i class="icofont-instagram"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>kuznetsov.ilya.alexandrovich@yandex.ru</p>
            <p>kuznetsov.ilya.alexandrovich@gmail.com</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+7 928 177-70-05</p>
          </div>
        </div>
      </div>

      <!--
      <form action="{{ url_for('static', filename='/forms/contact.php') }}" method="post" role="form" class="php-email-form mt-4">
        <div class="form-row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>
      -->

    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/venobox/venobox.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='/assets/js/main.js') }}"></script>

</body>

</html>