{% extends "index_base.html" %}

{% block vk_api_ref %}
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
{% endblock %}

{% block vk_api_init %}
    <script type="text/javascript">
      VK.init({
        apiId: 7840618,
        onlyWidgets: true
      });
    </script>
{% endblock %}

{% block login %}
    <a href="{{ url_for('logout') }}">
        <i class="icofont-vk"></i>  Logout</a>
{% endblock %}

{% block comments %}
    <div class="container">
        <div class="section-title">
            <h2>Feedback</h2>
            <p>Ask Me</p>
        </div>
        <div id="vk_comments"></div>
        <script type="text/javascript">
         VK.Widgets.Comments('vk_comments');
        </script>
    </div>
{% endblock %}